/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */
@tailwind base;
@tailwind components;
@tailwind utilities;
 
@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@200;600&family=MuseoModerno&display=swap');

@css {
  html, body {
    @apply 
      bg-gray-200 
      dark:bg-gray-800 !important
  }
  p, li {
    @apply 
      text-gray-900 
      dark:text-gray-100 
      max-w-prose !important
  }
  h1 {
    font-family: 'MuseoModerno', cursive;
    @apply 
      text-yellow-700 
      dark:text-yellow-200 
      text-4xl
  }
  h2 {
    font-family: 'Mukta Vaani', sans-serif;
    border-bottom: none;
    @apply 
      text-pink-700 
      dark:text-pink-200 
      text-2xl 
      font-bold
  }
  h3 {
    @apply 
      text-blue-700 
      dark:text-blue-200 
      font-semibold
  }
  h4 {
    @apply 
      text-blue-700 
      dark:text-blue-200
  }
  .sidebar, .navbar, .links {
    border: none;
    @apply 
      bg-gray-100 
      dark:bg-gray-900 !important
  }
  a.sidebar-link {
    @apply 
      font-semibold
  }
  a {
    @apply 
      dark:text-blue-100 !important
  }
  a:hover {
    @apply 
      text-yellow-600 
      dark:text-yellow-200 !important
  }
  a.active {
    @apply 
      text-yellow-600 
      dark:text-yellow-200 
      font-bold !important
  }
  .sidebar-heading {
    font-family: 'Mukta Vaani', sans-serif !important;
    @apply 
      dark:text-pink-200 
      text-pink-700
      text-2xl 
      font-bold !important
  }
  .home-layout {
    @apply 
      auto-rows-max
      grid 
      h-screen
      grid-cols-1
      md:grid-cols-2
      place-content-center
  }
  .home-image {
    @apply 
      w-11/12
      mx-auto
      pt-64
      md:pt-0
      mb-16
      md:mb-0
  }
  .column-2 {
    @apply 
      grid
      place-content-center 
  }
  .home-heading {
    @apply 
      mb-5
      dark:text-gray-200 
      font-bold
      text-7xl 
      text-gray-800
      text-center
      md:text-left
      px-2
      md:px-0
  }
  .home-subheading {
    @apply 
      mb-4 
      dark:text-gray-200 
      text-2xl 
      italic
      text-center
      md:text-left 
    }
  .home-description {
    @apply 
      max-w-prose 
      text-center
      md:text-left 
      text-lg 
      font-serif
      px-8
      md:px-0
  }
  .site-name {
    font-family: 'MuseoModerno', cursive !important;
    @apply 
      text-yellow-700 
      dark:text-yellow-200 
      text-2xl !important
  }
}